@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
@import "reset.css";
@import "header.css";
@import "top-jumbo.css";
@import "design-by.css";
@import "color-collection.css";
@import "blue-print.css";
@import "latest.css";
@import "footer.css";


/* 
  FEA38B - ORANGE
  6066F2 - LIGHTBLUE
  B286F8 - PURPLE
  4C44C1 - BLUE
  E6CDF9 - LIGHT PURPLE
  d5e2ea - light grey
*/

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

.container-fluid {
  margin: 0 5%;
  padding: 0 20px;
}

.box-shadow-down {
  -webkit-box-shadow: 0px 17px 40px -10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 17px 40px -10px rgba(0,0,0,0.3);
  box-shadow: 0px 17px 40px -10px rgba(0,0,0,0.3);
}

.box-shadow-center {
  -webkit-box-shadow: 0px 0px 65px 13px rgba(71, 70, 70, 0.2);
  -moz-box-shadow: 0px 0px 65px 13px rgba(71, 70, 70, 0.2);
  box-shadow: 0px 0px 65px 13px rgba(71, 70, 70, 0.2);
}

input::placeholder {
  color: #d5e2ea;
}

/*------------- RESPONSIVE -----------*/

/*DESKTOP*/
@media only screen and (max-width: 1215px) {
  
}

/*TABLET DEVICES*/
@media only screen and (max-width: 1023px) {
  
}

/*MOBILE DEVICES*/
@media only screen and (max-width: 767px) {
  
}